{% extends 'mainsite/base.html' %}
{% block content %}
Flag is <tt>flag{HTML-C4n't-St0p-Y0u}</tt><br>
<!-- I remember how I was asked by my sisters to make a site for them. I didn't know how to do it, however, I still did it. The site wasn't good. In fact it didn't work properly at all. The button for the registration form was disabled. The design was terrible. However my sisters really liked it. After that I thought that I might be able to make people happy by learning about computers -->
{% endblock %}
