{% extends 'mainsite/base.html' %}

{% block title%}Hello, {{ user.username }}{% endblock %}

{% block content %}
<tt>flag{Vulnerabilites-make-admins-cry}</tt>
<br>
<tt>
By the way, I heard a rumor that the owner of the site has some sort of treasure, but it is only accessible from his account. I tried hacking him, but to no avail. Why am I writing this in the first place?
</tt>
<!--Remember when I first got my title as "Admin". It was right after I finished the university and got my first job. They said it would be easy... At first it was, but working with systems is not the hardest part. Dealing with angry customers and users is. Whatever I do, they always seem to be angry at something. Everything seems to break. Why doesn't it break on my computer? You must be doing something wrong. It gets kinda hard to keep doing what you do with everybody taking your job
    for granted and not saying 'thank you'. Maybe I'm just burnt out -->
{% endblock %}
